<section class="section-paddings">
    <div class="container">
        <h2 class="visually-hidden">About me as a Full Stack Web Developer</h2>
        <div class="about-me-wraperr">
            <div class="about-me-wraperr-text">
                <p class="about-me-text">I work with people all over the world to create impressive and <span
                        class="about-me-part-text">functional</span> <span class="accent-color-second">websites</span>
                    that
                    reflect each client's unique
                    personality.</p>
            </div>
            <picture>
                <source srcset="/img/about-me/desktop-about-me.jpg 1x, /img/about-me/desktop-about-me@2x.jpg 2x" media="(min-width:
                1440px)" />

                <source srcset="/img/about-me/tablet-about-me.jpg 1x, /img/about-me/tablet-about-me@2x.jpg 2x"
                    media="(min-width:768px)" />

                <source srcset="/img/about-me/mobile-about-me.jpg 1x, /img/about-me/mobile-about-me@2x.jpg 2x"
                    media="(max-width:767px)" />

                <img class="about-me-img" src="/img/about-me/tablet-about-me.jpg" alt="about-me">
            </picture>
        </div>
        <ul class="about-me-accordion-list accordion-container">
            <li class="about-me-accordion-item ac">
                <div class="about-me-accordion-wrapper-title">
                    <h3 class="about-me-accordion-title accent-color-second ac-header">about me</h3>
                    <button class="ac-trigger about-me-accordion-btn" type="button"><svg class="about-me-accordion-icon"
                            width="20" height="20">
                            <use href="/img/sprite.svg#icon-Icon-down"></use>
                        </svg></button>
                </div>
                <div class="ac-panel">
                    <p class="about-me-accordion-text ac-text">I am Lloyd Jefferson, a talented programmer with
                        extensive expertise in software development. I have an understanding of
                        different programming languages ​​and technologies, always ready to improve my skills. I
                        always follow the latest trends
                        and look for unconventional, creative solutions to problems. I have a high level of
                        analytical skills and am able to
                        effectively solve even the most difficult tasks encountered on the way.</p>
                    <p class="about-me-accordion-text ac-text">Able to work both independently and in a team. I
                        can
                        effectively cooperate with colleagues, exchanging ideas and finding
                        optimal solutions. Professional maturity allows you to calmly cope with challenges and
                        stressful situations, while
                        maintaining a high quality of work.I am always looking for opportunities for
                        self-improvement. I actively study new
                        technologies and practices to stay abreast of the latest innovations. I have a strong
                        understanding of various
                        programming languages, frameworks and architectural concepts that allow me to create
                        efficient and scalable software.</p>
                </div>
            </li>
            <li class="about-me-accordion-item ac">
                <div class="about-me-accordion-wrapper-title">
                    <h3 class="about-me-accordion-title accent-color-second ac-header">role</h3>
                    <button class="ac-trigger about-me-accordion-btn" type="button"><svg class="about-me-accordion-icon"
                            width="20" height="20">
                            <use href="/img/sprite.svg#icon-Icon-down"></use>
                        </svg></button>
                </div>

                <div class="ac-panel">
                    <p class="about-me-accordion-text ac-text">Frontend development</p>
                    <p class="about-me-accordion-text ac-text">HeadlessCMS,Wordpress</p>
                    <p class="about-me-accordion-text ac-text">Blender(enjoy)</p>
                </div>
            </li>
            <li class="about-me-accordion-item accent-color-second ac">
                <div class="about-me-accordion-wrapper-title">
                    <h3 class="about-me-accordion-title accent-color-second ac-header">education</h3>
                    <button class="ac-trigger about-me-accordion-btn" type="button"><svg
                            class="about-me-accordion-icon">
                            <use href="/img/sprite.svg#icon-Icon-down"></use>
                        </svg></button>
                </div>
                <div class="ac-panel">
                    <p class="about-me-accordion-text ac-text">2018 - 2019 / Frontend Development Diploma, GoIT
                        IT
                        School, New York</p>
                    <p class="about-me-accordion-text ac-text">2019 - 2020 / Advanced Web Development
                        Certificate,
                        GoIT IT School, New York</p>
                    <p class="about-me-accordion-text ac-text">2020 - 2022 / Advanced Blender Animation
                        Techniques,
                        Udemy</p>
                </div>
            </li>
        </ul>

        <!-- ==================================== Swiper ============================================= -->

        <div class="about-me-swiper-main-wrap">
            <div class="about-me-swiper-gen-wrap swiper">
                <ul class="about-me-swiper-list swiper-wrapper">
                    <li class="about-me-swiper-item swiper-slide">
                        <p class="about-me-swiper-text">HTML/CSS</p>
                    </li>
                    <li class="about-me-swiper-item swiper-slide">
                        <p class="about-me-swiper-text">JavaScript</p>
                    </li>
                    <li class="about-me-swiper-item swiper-slide">
                        <p class="about-me-swiper-text">React</p>
                    </li>
                    <li class="about-me-swiper-item swiper-slide">
                        <p class="about-me-swiper-text">Node.js</p>
                    </li>
                    <li class="about-me-swiper-item swiper-slide">
                        <p class="about-me-swiper-text">React Native</p>
                    </li>
                    <li class="about-me-swiper-item swiper-slide">
                        <p class="about-me-swiper-text">Soft skills</p>
                    </li>
                    <li class="about-me-swiper-item swiper-slide">
                        <p class="about-me-swiper-text">Git</p>
                    </li>
                </ul>
            </div>
            <button class="about-me-swiper-btn swiper-button-next" type="button"><svg class="about-me-swiper-icon">
                    <use href="/img/sprite.svg#icon-arrow-narrow-right"></use>
                </svg></button>
        </div>

    </div>
</section>