Benefits
<section class="section-paddings">
    <div class="container">
        <h2 class="benefits-headder">Benefits working with me</h2>
        <div class="benefits-div">
            <ul class="benefits-list">
                <li class="benefits-item">
                    <a class="benefits-link" href="">
                        <svg class="benefits-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-user-01"></use>
                        </svg>
                    </a>
                    <h3 class="benefits-item-headder">Expertise</h3>
                    <p class="benefits-item-paragraph">As a highly experienced developer, I have deep knowledge of
                        programming and website development.</p>
                </li>
                <li class="benefits-item">
                    <a class="benefits-link" href="">
                        <svg class="benefits-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-message-chat-circle"></use>
                        </svg>
                    </a>
                    <h3 class="benefits-item-headder">Communication</h3>
                    <p class="benefits-item-paragraph">Understanding your needs and wants is my priority and I am always
                        open to discussions and corrections.</p>
                </li>
                <li class="benefits-item">
                    <a class="benefits-link" href="">
                        <svg class="benefits-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-brush-01"></use>
                        </svg>
                    </a>
                    <h3 class="benefits-item-headder">Art</h3>
                    <p class="benefits-item-paragraph">Thanks to my creative nature, I am ready to accept challenges and
                        help you bring your ideas to life.</p>
                </li>
                <li class="benefits-item">
                    <a class="benefits-link" href="">
                        <svg class="benefits-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-hourglass-02"></use>
                        </svg>
                    </a>
                    <h3 class="benefits-item-headder">Urgent execution</h3>
                    <p class="benefits-item-paragraph">I understand how important time is to you. Ready to work quickly
                        and
                        efficiently, without reducing the quality of work.</p>
                </li>
            </ul>
            <div class="benefits-order-wrapper">
                <a href="#work-together" class="benefits-order">Order the project</a>
            </div>
        </div>
    </div>
</section>