<section class="covers section-paddings" aria-labelledby="covers-heading">
        <div class="container covers-container">

                <h1 class="visually-hidden" id="covers-heading">Covers</h1>

                <div class="covers-ellipse-wrap">
                        <div class="covers-ellipse covers-ellipse-first"></div>
                        <div class="covers-ellipse covers-ellipse-second"></div>
                        <div class="covers-ellipse covers-ellipse-three"></div>
                </div>
                <div class="cover-pic">
                        <div class="cover-line">
                                <ul class="cover-list">
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/first-screen-1.jpg" alt="Project Cover 1"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-04.jpg" alt="Project Cover 2"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-05.jpg" alt="Project Cover 3"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-06.jpg" alt="Project Cover 4"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-07.jpg" alt="Project Cover 5"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-08.jpg" alt="Project Cover 6"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-09.jpg" alt="Project Cover 7"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-10.jpg" alt="Project Cover 8"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-11.jpg" alt="Project Cover 9"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-12.jpg" alt="Project Cover 10"></li>
                                </ul>
                        </div>
                        <div class="cover-line">
                                <ul class="cover-list">
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-08.jpg" alt="Project Cover 1"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-09.jpg" alt="Project Cover 2"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-10.jpg" alt="Project Cover 3"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-11.jpg" alt="Project Cover 4"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-12.jpg" alt="Project Cover 5"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/first-screen-1.jpg" alt="Project Cover 6"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-04.jpg" alt="Project Cover 7"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-05.jpg" alt="Project Cover 8"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-06.jpg" alt="Project Cover 9"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-07.jpg" alt="Project Cover 10"></li>
                                </ul>
                        </div>
                        <div class="cover-line">
                                <ul class="cover-list">
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-10.jpg" alt="Project Cover 1"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-11.jpg" alt="Project Cover 2"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-12.jpg" alt="Project Cover 3"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-06.jpg" alt="Project Cover 4"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-07.jpg" alt="Project Cover 5"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-08.jpg" alt="Project Cover 6"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-09.jpg" alt="Project Cover 7"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/first-screen-1.jpg" alt="Project Cover 8"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-04.jpg" alt="Project Cover 9"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-05.jpg" alt="Project Cover 10"></li>
                                </ul>
                        </div>
                        <div class="cover-line">
                                <ul class="cover-list">
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/first-screen-1.jpg" alt="Project Cover 1"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-04.jpg" alt="Project Cover 2"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-07.jpg" alt="Project Cover 3"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-06.jpg" alt="Project Cover 4"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-05.jpg" alt="Project Cover 5"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-08.jpg" alt="Project Cover 6"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-09.jpg" alt="Project Cover 7"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-10.jpg" alt="Project Cover 8"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-11.jpg" alt="Project Cover 9"></li>
                                        <li class="cover-list-item"><img class="cover-list-img"
                                                        src="img/covers/rectangle-12.jpg" alt="Project Cover 10"></li>
                                </ul>
                        </div>
                </div>
        </div>
</section>