<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title></title>
</head>

<body>
    <section class="covers" aria-labelledby="covers-heading">
        <h1 id="covers-heading" class="visually-hidden">Covers</h1>
        <ul class="cover-list">
            <li><img src="images/first-screen-1.jpg" alt="Project Cover 1"></li>
            <li><img src="images/rectangle-04.jpg" alt="Project Cover 2"></li>
            <li><img src="images/rectangle-05.jpg" alt="Project Cover 3"></li>
            <li><img src="images/rectangle-06.jpg" alt="Project Cover 4"></li>
            <li><img src="images/rectangle-07.jpg" alt="Project Cover 5"></li>
            <li><img src="images/rectangle-08.jpg" alt="Project Cover 6"></li>
            <li><img src="images/rectangle-09.jpg" alt="Project Cover 7"></li>
            <li><img src="images/rectangle-10.jpg" alt="Project Cover 8"></li>
            <li><img src="images/rectangle-11.jpg" alt="Project Cover 9"></li>
            <li><img src="images/rectangle-12.jpg" alt="Project Cover 10"></li>
        </ul>
    </section>
    <script src="script.js"></script>
</body>

</html>