
<section class="covers section-paddings" aria-labelledby="covers-heading">
    <div class="container">
        <h1 class="visually-hidden">Covers</h1>
        <div class="ellipse ellipse1"></div>
        <div class="ellipse ellipse2"></div>
        <div class="ellipse ellipse3"></div>
        <div class="cover-pic">
            <img src="ellipse-03.png" alt="img/covers/ellipse-03.png/" class="image">
        </div>
        <div class="cover-pic">
            <div class="cover-line">
                <ul class="cover-list">
                    <li><img src="img/covers/first-screen-1.jpg" alt="Project Cover 1"></li>
                    <li><img src="img/covers/rectangle-04.jpg" alt="Project Cover 2"></li>
                    <li><img src="img/covers/rectangle-05.jpg" alt="Project Cover 3"></li>
                    <li><img src="img/covers/rectangle-06.jpg" alt="Project Cover 4"></li>
                    <li><img src="img/covers/rectangle-07.jpg" alt="Project Cover 5"></li>
                    <li><img src="img/covers/rectangle-08.jpg" alt="Project Cover 6"></li>
                    <li><img src="img/covers/rectangle-09.jpg" alt="Project Cover 7"></li>
                    <li><img src="img/covers/rectangle-10.jpg" alt="Project Cover 8"></li>
                    <li><img src="img/covers/rectangle-11.jpg" alt="Project Cover 9"></li>
                    <li><img src="img/covers/rectangle-12.jpg" alt="Project Cover 10"></li>
                </ul>
            </div>
            <div class="cover-line">
                <ul class="cover-list">
                    <li><img src="img/covers/rectangle-08.jpg" alt="Project Cover 1"></li>
                    <li><img src="img/covers/rectangle-09.jpg" alt="Project Cover 2"></li>
                    <li><img src="img/covers/rectangle-10.jpg" alt="Project Cover 3"></li>
                    <li><img src="img/covers/rectangle-11.jpg" alt="Project Cover 4"></li>
                    <li><img src="img/covers/rectangle-12.jpg" alt="Project Cover 5"></li>
                    <li><img src="img/covers/first-screen-1.jpg" alt="Project Cover 6"></li>
                    <li><img src="img/covers/rectangle-04.jpg" alt="Project Cover 7"></li>
                    <li><img src="img/covers/rectangle-05.jpg" alt="Project Cover 8"></li>
                    <li><img src="img/covers/rectangle-06.jpg" alt="Project Cover 9"></li>
                    <li><img src="img/covers/rectangle-07.jpg" alt="Project Cover 10"></li>
                </ul>
            </div>
            <div class="cover-line">
                <ul class="cover-list">
                    <li><img src="img/covers/rectangle-10.jpg" alt="Project Cover 1"></li>
                    <li><img src="img/covers/rectangle-11.jpg" alt="Project Cover 2"></li>
                    <li><img src="img/covers/rectangle-12.jpg" alt="Project Cover 3"></li>
                    <li><img src="img/covers/rectangle-06.jpg" alt="Project Cover 4"></li>
                    <li><img src="img/covers/rectangle-07.jpg" alt="Project Cover 5"></li>
                    <li><img src="img/covers/rectangle-08.jpg" alt="Project Cover 6"></li>
                    <li><img src="img/covers/rectangle-09.jpg" alt="Project Cover 7"></li>
                    <li><img src="img/covers/first-screen-1.jpg" alt="Project Cover 8"></li>
                    <li><img src="img/covers/rectangle-04.jpg" alt="Project Cover 9"></li>
                    <li><img src="img/covers/rectangle-05.jpg" alt="Project Cover 10"></li>
                </ul>
            </div>
            <div class="cover-line">
                <ul class="cover-list">
                    <li><img src="img/covers/first-screen-1.jpg" alt="Project Cover 1"></li>
                    <li><img src="img/covers/rectangle-04.jpg" alt="Project Cover 2"></li>
                    <li><img src="img/covers/rectangle-07.jpg" alt="Project Cover 3"></li>
                    <li><img src="img/covers/rectangle-06.jpg" alt="Project Cover 4"></li>
                    <li><img src="img/covers/rectangle-05.jpg" alt="Project Cover 5"></li>
                    <li><img src="img/covers/rectangle-08.jpg" alt="Project Cover 6"></li>
                    <li><img src="img/covers/rectangle-09.jpg" alt="Project Cover 7"></li>
                    <li><img src="img/covers/rectangle-10.jpg" alt="Project Cover 8"></li>
                    <li><img src="img/covers/rectangle-11.jpg" alt="Project Cover 9"></li>
                    <li><img src="img/covers/rectangle-12.jpg" alt="Project Cover 10"></li>
                </ul>
            </div>
        </div>
</section>