FAQ 
<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="%VITE_BASE_URL%" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <section class="faq ">
        <div class="faq-container"> 
       <h2 class="faq-title">FAQ</h2>
       <ul class="accordion-container-faq">
         <li class="ac">
           <div class="faq-tab">
           <h3 class="faq-header ac-header">What programming languages ​​are most often used in your project?</h3>
             <button type="button" class="faq-show-text-button ac-trigger"><svg class="icon-faq" width="20" height="20"><use href="../images/icons.svg#icon-arrow-down" fill="black"></use></svg></button>
           </div>
           <div class="faq-ac-content ac-panel">
             <p class="faq-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
           </div>
         </li>
         <div class="line"></div>
         <li class="ac decoration-ac-faq">
           <div class="faq-tab">
           <h3 class="faq-header faq-header-decoration ac-header">How can I contact you?</h3>
             <button type="button" class="faq-show-text-button ac-trigger"><svg class="icon-faq" width="20" height="20"><use href="../images/icons.svg#icon-arrow-down" fill="black"></use></svg></button>
           </div>
           <div class="faq-ac-content ac-panel">
             <p class="faq-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
             </div>
           </li>
         <li class="ac" >
           <div class="faq-tab">
           <h3 class="faq-header ac-header">What are the deadlines for the project?</h3>
             <button type="button" class="faq-show-text-button ac-trigger"><svg class="icon-faq" width="20" height="20"><use href="../images/icons.svg#icon-arrow-down" fill="black"></use></svg></button>
             </div>
           <div class="faq-ac-content ac-panel">
             <p class="faq-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
             </div>
         </li>
         <div class="line"></div>
         <li class="ac decoration-ac-faq">
           <div class="faq-tab">
           <h3 class="faq-header ac-header">Do you provide advice or support?</h3>
             <button type="button" class="faq-show-text-button ac-trigger"><svg class="icon-faq" width="20" height="20"><use href="../images/icons.svg#icon-arrow-down" fill="black"></use></svg></button>
             </div>
           <div class="faq-ac-content ac-panel">
             <p class="faq-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
           </div>
         </li>
         <li class="ac">
           <div class="faq-tab">
           <h3 class="faq-header ac-header">What payment methods do you accept?</h3>
             <button type="button" class="faq-show-text-button ac-trigger"><svg class="icon-faq" width="20" height="20"><use href="../images/icons.svg#icon-arrow-down" fill="black"></use></svg></button>
             </div>
           <div class="faq-ac-content ac-panel">
             <p class="faq-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
         </li>
         <div class="line"></div>
         <li class="ac decoration-ac-faq">
           <div class="faq-tab">
           <h3 class="faq-header ac-header">What does the process of developing a software product look like from idea to implementation?</h3>
             <button type="button" class="faq-show-text-button ac-trigger"><svg class="icon-faq" width="20" height="20"><use href="../images/icons.svg#icon-arrow-down" fill="black"></use></svg></button>
             </div>
           <div class="faq-ac-content ac-panel">
            <p class="faq-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
       </div>
       </li>
     <ul>
     </div>
 </section>
</html>