<footer class="work-together" id="work-together">
    <div class="work-together-container-wrap container">
        <div class="work-together-title-wrap">
            <img src="/img/logo.webp" alt="Profile Image" class="work-together-logo-image">
            <h2 class="work-together-title">
                LET’S <span class="work-together-special-color">WORK</span>
                <span class="together-text">TOGETHER</span>
            </h2>
        </div>

        <div class="work-together-form-container">
            <form class="work-together-contact-form">
                <input class="work-together-form-input" id="email" name="email" type="email"
                    placeholder="clients@gmail.com" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required />
                <textarea class="work-together-form-input textarea-input" id="user-comment" name="user-comment"
                    placeholder="comments" required></textarea>
                <button class="work-together-btn" type="submit">Send</button>
            </form>
        </div>
        <address class="work-together-contact-info">
            <a class="work-together-contact-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
            <a class="work-together-contact-link tel-link" href="tel:+3801111111111">+380 11 1111 11 11</a>
        </address>
    </div>


</footer>

<div class="modal-overlay" id="modal">
    <div class="modal-content">
        <button class="modal-close" id="modal-close">
            <svg class="modal-icon">
                <use href="/img/sprite.svg#icon-x"></use>
            </svg>
        </button>

        <h3 class="modal-title"> Thank you for your interest in cooperation!</h3>
        <p class="modal-text">

            The manager will contact you shortly to discuss further details and opportunities for cooperation.
            Please stay in touch.
        </p>
    </div>
</div>