<header class="header">
    <div class="container header-container">
        <nav class="header-navigation">

            <div class="header-logo-wrap">
                <img class="header-logo" src="/img/logo.webp" alt="logo">
                <p class="header-logo-text">jefferson*</p>
            </div>

            <button class="header-menu-button js-header-menu-toggle" type="button">Menu</button>

            <ul class="header-navigation-list js-header-navigation-list">
                <li class="header-navigation-item">
                    <a class="header-navigation-link js-header-navigation-link" href="#aboutMe">About me</a>
                </li>
                <li class="header-navigation-item">
                    <a class="header-navigation-link js-header-navigation-link" href="#benefits">Benefits</a>
                </li>
                <li class="header-navigation-item">
                    <a class="header-navigation-link js-header-navigation-link" href="#projects">Projects</a>
                </li>
                <li class="header-navigation-item">
                    <a class="header-navigation-link js-header-navigation-link" href="#faq">FAQ</a>
                </li>
            </ul>

            <a class="header-order-button" href="#work-together">Order the project</a>
        </nav>
        <button class="header-close-button" data-menu-burger-open>
            <svg class="header-close-button-svg">
                <use href="/img/sprite.svg#icon-Icon" />
            </svg>
        </button>
    </div>
</header>