<header class="header">
    <div class="container header-container">
        <nav class="header-navigation">
            <div class="header-logo-wrap">
                <a href="./index.html" class="header-logo-link">
                    <img class="header-logo" src="/img/logo.webp" alt="logo" width="80" height="80">
                    <p class="header-logo-text">jefferson*</p>
                </a>
            </div>
            <button class="header-menu-button js-header-menu-toggle" type="button" aria-label="menu">Menu</button>
            <ul class="header-navigation-list js-header-navigation-list">
                <li class="header-navigation-item">
                    <a class="header-navigation-link js-header-navigation-link" href="#aboutMe">About me</a>
                </li>
                <li class="header-navigation-item">
                    <a class="header-navigation-link js-header-navigation-link" href="#benefits">Benefits</a>
                </li>
                <li class="header-navigation-item">
                    <a class="header-navigation-link js-header-navigation-link" href="#projects">Projects</a>
                </li>
                <li class="header-navigation-item">
                    <a class="header-navigation-link js-header-navigation-link" href="#faq">FAQ</a>
                </li>
            </ul>
            <a class="header-order-button" href="#work-together">Order the project</a>
        </nav>
        <button class="header-close-button" aria-label="open menu" data-menu-burger-open>
            <svg class="header-close-button-svg" aria-hidden="true">
                <use href="/img/sprite.svg#icon-Icon" />
            </svg>
        </button>
    </div>
</header>