<section class="hero container">
    <div class="hero-container">
        <h1 class="hero-tittle">Hello.I’m Fullstack developer Lloyd Jefferson.</h1>
        <ul class="hero-list-links">

            <li class="hero-links-item">
                <a class="hero-sm-link" href="https://www.instagram.com/goitclub/">IG</a>
            </li>
            <li class="hero-links-item">
                <a class="hero-sm-link" href="https://www.youtube.com/c/GoIT">FB</a>
            </li>
            <li class="hero-links-item">
                <a class="hero-sm-link" href="https://www.facebook.com/goITclub/">YT</a>
            </li>
            <li class="hero-links-item">
                <a class="hero-sm-link" href="#">GH</a>
            </li>
            <li class="hero-links-item">
                <span class="hero-email-s"><a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></span>
            </li>

        </ul>
    </div>
</section>