<section class="hero">
    <div class="hero-container container">
        <h1 class="hero-tittle">Hello.
            <span class="hero-tittle-part">I’m Fullstack developer Lloyd Jefferson.</span>
        </h1>
        <div class="hero-links-wrapper">
            <ul class="hero-list-links">
                <li class="hero-links-item">
                    <a class="hero-sm-link" target="_blank" href="https://www.instagram.com/goitclub/">IG</a>
                </li>
                <li class="hero-links-item">
                    <a class="hero-sm-link" target="_blank" href="https://www.facebook.com/goITclub/">FB</a>
                </li>
                <li class="hero-links-item">
                    <a class="hero-sm-link" target="_blank" href="https://www.youtube.com/c/GoIT">YT</a>
                </li>
                <li class="hero-links-item">
                    <a class="hero-sm-link" target="_blank"
                        href="https://github.com/SergIr1/Portfolio-GreateTeam19">GH</a>
                </li>
            </ul>
            <address class="hero-email">
                <a class="hero-email-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
            </address>
        </div>

    </div>
</section>