<section class="section-paddings" id="projects">
  <div class="projects container">
    <h2 class="ps-title">Projects</h2>
    <div class="ps-swiper swiper">
      <ul class="ps-swiper-wrapper swiper-wrapper">
        <!-- Slide 1 -->
        <li class="ps-swiper-slide swiper-slide">
          <div class="ps-slide-content">
            <div class="ps-description-blocks">
              <ul class="ps-program-block">
                <li class="ps-program-name">#react</li>
                <li class="ps-program-name">#js</li>
                <li class="ps-program-name">#node js</li>
                <li class="ps-program-name">#git</li>
              </ul>
              <p class="ps-subtitle">
                Programming Across <br />
                Borders: Ideas, <br />
                Technologies, Innovations
              </p>
              <a
                class="ps-btn"
                href="https://github.com/SergIr1/Portfolio-GreateTeam19"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="ps-image-block">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/projects/tabletDesktop/tab-des-pr-form@2x.jpg 2x,
                    /img/projects/tabletDesktop/tab-des-pr-form.jpg    1x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/projects/mobile/mob-pr-form@2x.jpg 2x,
                    /img/projects/mobile/mob-pr-form.jpg    1x
                  "
                />
                <img
                  class="ps-image"
                  src="/img/projects/tabletDesktop/tab-des-pr-form.jpg"
                  alt="form"
                  width="614"
                />
              </picture>
            </div>
          </div>
        </li>
        <!-- Slide 2 -->
        <li class="ps-swiper-slide swiper-slide">
          <div class="ps-slide-content">
            <div class="ps-description-blocks">
              <ul class="ps-program-block">
                <li class="ps-program-name">#react</li>
                <li class="ps-program-name">#js</li>
                <li class="ps-program-name">#node js</li>
                <li class="ps-program-name">#git</li>
              </ul>
              <p class="ps-subtitle">
                Programming Across <br />
                Borders: Ideas, <br />
                Technologies, Innovations
              </p>
              <a
                class="ps-btn"
                href="https://github.com/SergIr1/Portfolio-GreateTeam19"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="ps-image-block">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/projects/tabletDesktop/tab-des-pr-pet@2x.jpg 2x,
                    /img/projects/tabletDesktop/tab-des-pr-pet.jpg    1x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/projects/mobile/mob-pr-pet@2x.jpg 2x,
                    /img/projects/mobile/mob-pr-pet.jpg    1x
                  "
                />
                <img
                  class="ps-image"
                  src="/img/projects/tabletDesktop/tab-des-pr-pet.jpg"
                  alt="pet"
                  width="614"
                />
              </picture>
            </div>
          </div>
        </li>
        <!-- Slide 3 -->
        <li class="ps-swiper-slide swiper-slide">
          <div class="ps-slide-content">
            <div class="ps-description-blocks">
              <ul class="ps-program-block">
                <li class="ps-program-name">#react</li>
                <li class="ps-program-name">#js</li>
                <li class="ps-program-name">#node js</li>
                <li class="ps-program-name">#git</li>
              </ul>
              <p class="ps-subtitle">
                Programming Across <br />
                Borders: Ideas, <br />
                Technologies, Innovations
              </p>
              <a
                class="ps-btn"
                href="https://github.com/SergIr1/Portfolio-GreateTeam19"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="ps-image-block">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/projects/tabletDesktop/tab-des-pr-register@2x.jpg 2x,
                    /img/projects/tabletDesktop/tab-des-pr-register.jpg    1x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/projects/mobile/mob-pr-register@2x.jpg 2x,
                    /img/projects/mobile/mob-pr-register.jpg    1x
                  "
                />
                <img
                  class="ps-image"
                  src="/img/projects/tabletDesktop/tab-des-pr-register.jpg"
                  alt="register"
                  width="614"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
      <!-- Add Arrows -->
      <div class="ps-slide-button-container">
        <div class="ps-btn-next swiper-button-next">
          <svg class="ps-arrow-icon" width="32" height="32">
            <use href="/img/sprite.svg#icon-arrow-narrow-right-1"></use>
          </svg>
        </div>
        <div class="ps-btn-prev swiper-button-prev">
          <svg class="ps-arrow-icon" width="32" height="32">
            <use href="/img/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
