<section class="projects container">
  <h2 class="ps-title">Projects</h2>
  <div class="ps-swiper-container">
    <ul class="ps-swiper-wrapper">
      <!-- Slide 1 -->
      <li class="ps-swiper-slide">
        <div class="ps-slide-content">
          <div class="ps-description-blocks">
            <div class="ps-program-block">
              <div class="ps-program-name">#react</div>
              <div class="ps-program-name">#js</div>
              <div class="ps-program-name">#node js</div>
              <div class="ps-program-name">#git</div>
            </div>
            <p class="ps-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="ps-btn"
              href="https://github.com/SergIr1/Portfolio-GreateTeam19"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="ps-image-block">
            <img class="ps-image" srcset="" src="" alt="form" width="311" />
          </div>
        </div>
      </li>
      <!-- Slide 2 -->
      <li class="ps-swiper-slide">
        <div class="ps-description-blocks">
          <div class="ps-program-block">
            <div class="ps-program-name">#react</div>
            <div class="ps-program-name">#js</div>
            <div class="ps-program-name">#node js</div>
            <div class="ps-program-name">#git</div>
          </div>
          <p class="ps-subtitle">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <a
            class="ps-btn"
            href="https://github.com/SergIr1/Portfolio-GreateTeam19"
            target="_blank"
            >See project</a
          >
          <div class="ps-image-block">
            <img class="ps-image" srcset="" src="" alt="pet" width="311" />
          </div>
        </div>
      </li>
      <!-- Slide 3 -->
      <li class="ps-wiper-slide">
        <div class="ps-description-blocks">
          <div class="ps-program-block">
            <div class="ps-program-name">#react</div>
            <div class="ps-program-name">#js</div>
            <div class="ps-program-name">#node js</div>
            <div class="ps-program-name">#git</div>
          </div>
          <p class="ps-subtitle">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <a
            class="ps-btn"
            href="https://github.com/SergIr1/Portfolio-GreateTeam19"
            target="_blank"
            >See project</a
          >
          <div class="ps-image-block">
            <img class="ps-image" srcset="" src="" alt="register" width="311" />
          </div>
        </div>
      </li>
    </ul>
    <!-- Add Arrows -->
    <div class="ps-swiper-button-next">
      <svg class="ps-arrow-icon" width="32" height="32">
        <use href="#icon-arrow-narrow-right"></use>
      </svg>
    </div>
    <div class="ps-swiper-button-prev">
      <svg class="ps-arrow-icon" width="32" height="32">
        <use href="#icon-arrow-narrow-right-1"></use>
      </svg>
    </div>
  </div>
</section>
