<section class="section-paddings">
    <div class="container">
        <div class="reviews-container">
            <div class="reviews-container-title">
                <h3 class="reviews-title">REVIEWS</h3>
            </div>
            <div class="reviews-container-card swiper">
                <ul class="reviews-list swiper-wrapper">
                    <!-- <li class="reviews-card">
                        <img class="reviews-card-avatar" src="/src/img/logo.webp"></img>
                        <h4 class="reviews-card-name">Name1</h4>
                        <p class="reviews-card-description"><span style="color: rgb(162, 252, 162);">"Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations."</span></p>
                    </li>
                    <li class="reviews-card">
                        <img class="reviews-card-avatar" src="/src/img/logo.webp"></img>
                        <h4 class="reviews-card-name">Name2</h4>
                        <p class="reviews-card-description"><span style="color: rgb(162, 252, 162);">"Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations."</span></p>
                    </li>
                    <li class="reviews-card">
                        <img class="reviews-card-avatar" src="/src/img/logo.webp"></img>
                        <h4 class="reviews-card-name">Name3</h4>
                        <p class="reviews-card-description"><span style="color: rgb(162, 252, 162);">"Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations."</span></p>
                    </li>
                    <li class="reviews-card">
                        <img class="reviews-card-avatar" src="/src/img/logo.webp"></img>
                        <h4 class="reviews-card-name">Name4</h4>
                        <p class="reviews-card-description"><span style="color: rgb(162, 252, 162);">"Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations."</span></p>
                    </li>
                    <li class="reviews-card">
                        <img class="reviews-card-avatar" src="/src/img/logo.webp"></img>
                        <h4 class="reviews-card-name">Name5</h4>
                        <p class="reviews-card-description"><span style="color: rgb(162, 252, 162);">"Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations."</span></p>
                    </li>
                    <li class="reviews-card">
                        <img class="reviews-card-avatar" src="/src/img/logo.webp"></img>
                        <h4 class="reviews-card-name">Name6</h4>
                        <p class="reviews-card-description"><span style="color: rgb(162, 252, 162);">"Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations."</span></p>
                    </li> -->
                </ul>
            </div>
            <div class="reviews-buttons">
                <button class="reviews-button reviews-button-left swiper-button-prev" type="button">
                    <svg class="reviews-button-icon" width="28px" height="28px">
                        <use href="/img/sprite.svg#icon-arrow-narrow-right-1"></use>
                    </svg>
                </button>
                <button class="reviews-button reviews-button-right swiper-button-next" type="button">
                    <svg class="reviews-button-icon" width="28px" height="28px">
                        <use href="/img/sprite.svg#icon-arrow-narrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
