<div class="reviews-container">
    <div class="reviews-container-title">
        <h3 class="reviews-title">REVIEWS</h3>
    </div>
    <div class="reviews-container-card">
        <ul class="reviews-list">
            <li class="reviews-card">
                    <img class="reviews-card-avatar" src="../img/logo.webp" width="48px" height="48px"></img>
                <h4 class="reviews-card-name">Natasha</h4>
                <p class="reviews-card-description">Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations</p>
            </li>
            <li class="reviews-card">
                <img class="reviews-card-avatar"></img>
                <h4 class="reviews-card-name"></h4>
                <p class="reviews-card-description"></p>
            </li>
        </ul>
    </div>
    <div class="reviews-buttons">
        <button class="reviews-button reviews-button-left" type="button">
            <svg class="reviews-button-icon" width="28px" height="28px">
                <use href="./img/icons.svg#icon-arrow-narrow-right-1"></use>
            </svg>
        </button>
        <button class="reviews-button reviews-button-right active" type="button">
            <svg class="reviews-button-icon" width="28px" height="28px">
                <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
            </svg>
        </button>
    </div>
    
</div>