.about-me-wraperr {
    margin-bottom: 32px;
}

.about-me-wraperr-text {
    height: 100%;
    min-height: 272px;
    margin-bottom: 16px;
    padding: 32px 32px 0px 32px;
}

.about-me-text {
    display: block;
    max-width: 279px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px){
.about-me-wraperr{
    margin-bottom: 64px;
}

.about-me-wraperr-text{
    min-height: 436px;
    padding: 64px 64px 0px 64px;
}

@media only screen and (min-width: 1440px){
.about-me-wraperr {
    display: flex;
    margin-bottom: 96px;
}

.about-me-wraperr-text{
    margin-bottom: 0;
    margin-right: 16px;
}
}

.about-me-text {
    max-width: 576px;
    font-size: 38px;
    line-height: 1.05;
}
}

.about-me-part-text {
    color: #ed3b44;
}

.accent-color-second {
    color: rgba(250, 250, 250, 0.4);
}

.about-me-img {
    border-radius: 24px;
}

/* ============================= Accordion ============================= */
.about-me-accordion-list {
    margin-bottom: 32px;
}

@media only screen and (min-width: 768px){
.about-me-accordion-list {
        margin-bottom: 64px;
    }
}

@media only screen and (min-width: 1440px) {
.about-me-accordion-list {
        margin-bottom: 96px;
    }
}

.about-me-accordion-item.ac {
    border: none;
    border-bottom: 1px solid #FAFAFA;
    background-color: #1c1d20;
    color:#1c1d20;
}

.about-me-accordion-wrapper-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.about-me-accordion-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    background-color: #1c1d20;

}

.ac .about-me-accordion-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 50%;
    padding: 9px;
    width: 36px;
    height: 36px;
}

.about-me-accordion-icon {
    width: 18px;
    height: 18px;
    fill:none;
    stroke: #fafafa;
    transition: transform 250ms linear;
}

.ac .ac-trigger::after{
    content: none;
}

.ac .ac-panel .about-me-accordion-text{
    display: block;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
}

.ac .ac-panel .about-me-accordion-text:not(:last-child){
    margin-bottom: 32px;
}

.ac .ac-panel .about-me-accordion-text:last-child{
    padding-bottom: 20px;
}

.is-active .about-me-accordion-icon{
    transform: rotate(180deg);
}

/* ============================= Swiper ============================= */

.about-me-swiper-main-wrap {
    display: flex;
    align-items: center;
}

.about-me-swiper-gen-wrap {
    display: flex;
    align-items: center;
}

.swiper {
    display: flex;
    align-items: center;
    max-width: 260px;
    margin-right: auto;
    margin-left: 0;
    flex: 1;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    max-width: 260px;
}

.about-me-swiper-item {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%; 
    border: 1px solid rgba(250, 250, 250, 0.2);
}

.swiper-slide {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid rgba(250, 250, 250, 0.2);
    background-color: transparent;
    transition: background-color 250ms linear, border 250ms linear;
}

.swiper-slide {
    transition: background-color 250ms, border 250ms;
    background-color: transparent;
}

.swiper-slide.active-slide {
    background-color: #c6e327;
    border: none;
}

.about-me-swiper-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;

}

.about-me-swiper-text {
    font-size: 20px;
}

.about-me-swiper-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 0;

    background-color: transparent;
    border: none;
    z-index: 10;
}

.about-me-swiper-icon{
    fill:none;
    stroke: #3b3b3b;
}

@media only screen and (min-width: 768px){
    .swiper{
        max-width: 600px;
    }

    .swiper-slide{
    width: 200px;
    height: 200px;
    }

    .about-me-swiper-text {
    font-size: 20px;
    }

    .about-me-swiper-btn{
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width: 1440px){
    .swiper {
            max-width: 1200px;
        }
}