.benefits-headder {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.benefits-list {
    display: flex;
    row-gap: 16px;
    flex-direction: column;
}

.benefits-item {
    max-width: 344px;
    min-height: 270px;
    background-color: #242527;
    border-radius: 20px;
    padding: 24px;
}

.benefits-icon {
    fill: none;
    stroke: #f4f4fd;
}

.benefits-link {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    line-height: 0;
    background-color: #c6e327;
    margin-bottom: 64px;
}

.benefits-item-headder {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
}

.benefits-item-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
}

.benefits-order {
    display: inline-block;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 36px;
    min-width: 187px;
    height: 55px;
    transition: background-color 250ms linear, border-color 250ms linear, transform 250ms linear;
    text-align: center;
}

.benefits-order-wrapper {
    margin-top: 32px;
}

.benefits-order:hover,
.benefits-order:focus {
    transform: scale(1.1);
    border-color: #C6E327;
    background-color: #65760D;
}

@media screen and (min-width: 768px) {
    .benefits-headder {
        position: relative;
        display: block;
    }

    .benefits-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        flex-direction: row;
    }

    .benefits-order-wrapper {
        margin-top: 64px;
    }
}

@media screen and (min-width: 1440px) {

    .benefits-headder {
        position: absolute;
        margin-bottom: 0px;
    }

    .benefits-div {
        display: block;
        margin-left: 696px;
    }

    .benefits-list {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .benefits-item {
        max-width: 332px;
        box-sizing: border-box;
    }

}
.flip-card-inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card {
    perspective: 1000px;
  }
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .flip-card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .flip-card-inner.flipped {
    transform: rotateY(180deg);
  }
  @media screen and (min-width: 1280px) {
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
  }
  .benefits-image {
    margin-bottom: 10px;
  }