.benefits {
    position: relative;
}

.benefits-headder {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.benefits-list {
    display: flex;
    row-gap: 16px;
    flex-direction: column;
}

.benefits-item {
    max-width: 344px;
    min-height: 270px;
    background-color: #242527;
    border-radius: 20px;
    padding: 24px;
}

.benefits-icon {
    fill: #f4f4fd;
}

.benefits-link {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    line-height: 0;
    background-color: #c6e327;
    margin-bottom: 64px;
}

.benefits-item-headder {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
}

.benefits-item-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
}

.benefits-order {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 36px;
    width: 187px;
    height: 55px;
    transition: background-color 0.3s;
    text-align: center;
}

.benefits-div {}

.benefits-order-wrapper {
    margin-top: 50px;
}

.benefits-order:hover {
    background-color: rgba(250, 250, 250, 0.1);
}

@media screen and (min-width: 768px) {
    .benefits-headder {
        position: relative;
        display: block;
    }

    .benefits-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        flex-direction: row;
    }

    .benefits-order-wrapper {
        margin-top: 82px;
    }
}

@media screen and (min-width: 1440px) {

    .benefits-headder {
        position: absolute;
    }

    .benefits-div {
        display: block;
        margin-left: 696px;
    }

    .benefits-list {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .benefits-item {
        width: calc(50% - 8px);
        max-width: 332px;
        box-sizing: border-box;
    }

}