.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    
    background-color: inherit;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    background-image: url(../img/hero/hero.webp);
    background-position: center;
    background-size: contain;
    padding-top: 302px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    line-height: 0;
    background-color: inherit;
    padding: 0;
    cursor: pointer;
    stroke: #fbfbfb;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-icon {
    stroke-width: 3px;
    width: 16px;
    height: 16px;
    background-color: transparent;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.mobile-menu-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu-nav-link {
    border: none;
    border-bottom: 2px solid #fafafa;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;

    color: #fafafa;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
    color: #3cbc81;
    border-color: #3cbc81;
}

.mobile-menu-order-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 60px;
    width: 164px;
    height: 45px;
    padding: 0;
    flex-shrink: 0;
    background-color: #c6e327;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mobile-menu-order-button:hover,
.mobile-menu-order-button:focus {
    background-color: #3cbc81;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}