
body {
    margin: 0;
    font-family: "Pridi", sans-serif;
    background: (rgba(217, 217, 217, 0.04), rgba(0, 0, 0, 0.8));
    backdrop-filter: blur(30px);
    color: #fff;
    width: 1440px;
    height: 950px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.covers {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.cover-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    animation: scroll 30s linear infinite;
    
}

.cover-list li {
    flex-shrink: 0;
    width: 272px;
    height: auto;
    margin: 10px;
    transform: rotate(5deg);
    transition: transform 0.3s;
}

.cover-list li:hover {
    transform: rotate(0);
}

.cover-list img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 1024px) {
    .cover-list li {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .cover-list li {
        width: 120px;
    }
}
@media (max-width: 480px) {
    .cover-list li {
        width: 100%;
    }
}