/* Styles for Mobile devices */

.work-together {
  padding-top: 32px;
  padding-bottom: 32px;
  background-image: url(../img/footer/mobile-elements.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right center;
}

/* .work-together-container-wrap{
  padding-left: 16px;
  padding-right: 16px;
} */

/* .container {
  padding-left: 16px;
  padding-right: 16px;
} */

.work-together-title-wrap {
  position: relative;
  max-width: 542px;
}
.work-together-title {
  display: inline;
  padding-left: 52px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.work-together-logo-image {
  position: absolute;
  border-radius: 12px;
  margin-right: 8px;
  width: 44px;
  height: 44px;
}

.together-text {
  display: block;
  padding-top: 10px;
}

.work-together-special-color {
  color: #c6e327;
}

.work-together-form-container {
  margin-top: 63px;
}

.work-together-contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

        .work-together-input-wrap {
          max-width: 350px;
          width: 100%;
          max-height: 44px;
          height: 100%;
        }

.work-together-form-input,
.textarea-input {
  /* align-self: baseline; */
  width: 100%;
  max-width: 350px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  border-color: rgba(250, 250, 250, 0.2);
  background-color: transparent;
  color: #fafafa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  outline: none;
  font-family: 'Inter Tight', sans-serif;
  height: 44px;
}

.textarea-input {
  resize: none;
  padding-top: 12px;
  padding-bottom: 10px;
}

.textarea-input {
  width: 100%;
  max-width: 350px;
  height: 44px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  border-color: rgba(250, 250, 250, 0.2);
  background-color: transparent;
  outline: none;
  font-family: 'Inter Tight', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

.work-together-form-input:focus{
  border-color: #fafafa;
}

.work-together-form-input.valid {
  border-color: #3cbc81;
}

.work-together-form-input.invalid {
  border-color: #e74a3b;
}


.textarea-input:hover {
  border-color: #fafafa;
}

.work-together-form-input.invalid:focus{
border-color: #e74a3b;
}


.success-message {
  display: none;
  margin-top: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #3cbc81;
  border-color: #3cbc81;
}

.error-message {
  display: none;
  margin-top: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #e74a3b;
  border-color: #e74a3b;
}

.work-together-email-message{
    display: none;
    margin-top: 4px;
    font-size: 14px;
    color: #fafafa;
}

.work-together-email-message.success-message {
  color: #3cbc81;
}

.work-together-email-message.error-message {
  color: red;
}

/* .work-together-input-wrap{
  align-self: center

} */

.work-together-form-input::placeholder,
.textarea-input::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(250, 250, 250, 0.6);
}

/* .work-together-form-input:focus::placeholder,
.textarea-input:hover::placeholder {
  color: rgba(250, 250, 250, 0.6);
} */

.work-together-btn {
  width: 100px;
  height: 100px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  background-color: #c6e327;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;

  transition: background-color 250ms linear, transform 250ms linear;
}

.work-together-btn:hover,
.work-together-btn:focus {
  transform: scale(1.1);
  background-color: #65760d;
}

.work-together-contact-info {
  display: flex;
  gap: 4px;
  margin-top: 64px;
  align-items: flex-start;
}

.work-together-contact-link,
.tel-link {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: auto;
  height: 37px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-style: normal;
  line-height: 1;
  color: #fafafa;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;

  transition: background-color 250ms linear, border-color 250ms linear, color 250ms linear;
}

.work-together-contact-link:hover,
.work-together-contact-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: #c6e327;
  border-color: #c6e327;
  background-color: rgba(198, 227, 39, 0.1);
}

.work-together-btn,
.work-together-contact-link,
.tel-link {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.work-together-contact-link,
.tel-link {
  display: inline-block;
  text-decoration: none;
}

.hovered {
  transform: translateY(-3px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s;
  z-index: 1000;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-open {
  overflow: hidden;
  height: 100vh;
}

.modal-content {
  background: #1c1d20;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  text-align: center;
  position: relative;
  max-width: 100%;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
  max-width: 364px;
  margin: 0 auto;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.modal-icon {
  width: 24px;
  height: 24px;
  stroke: #fafafa;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .work-together {
    padding-top: 80px;
    background-image: url(../img/footer/tablet-elements.jpg);
  }

  .work-together-container-wrap {
    padding-left: 32px;
  }

  /* .container {
    padding-left: 32px;
  } */

  .work-together-title {
    font-size: 64px;
    padding-left: 90px;
  }

  .work-together-logo-image {
    border-radius: 24px;
    margin-right: 20px;
    width: 70px;
    height: 70px;
  }

  .work-together-form-container {
    margin-top: 64px;
  }

  .work-together-contact-form {
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }

    .work-together-input-wrap {
      max-width: 245px;
      width: 100%;
    }

  .work-together-form-input,
  .textarea-input {
    max-width: 245px;
  }

  .work-together-btn {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }

  .work-together-contact-info {
    gap: 8px;
    margin-top: 78px;
    align-items: flex-start;
  }

  .work-together-contact-link,
  .tel-link {
    padding: 18px 32px;
    font-size: 16px;
    height: auto;
  }

  .modal-content {
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 492px;
    height: 246px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .work-together {
    background-image: url(../img/footer/desktop-elements.webp);
  }

  .work-together-container-wrap {
    padding-left: 196px;
  }

  /* .container {
    padding-left: 196px;
  } */

  .work-together-input-wrap {
    max-width: 390px;
    width: 100%;
  }

  .work-together-form-input,
  .textarea-input {
    max-width: 390px;
  }

  .work-together-btn {
    margin-left: 54px;
  }
}


