.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;
    background-color: transparent;
    opacity: 1;
    transform: translateY(0);
    transition: transform 400ms linear, opacity 400ms linear;
    z-index: 1000;
}

.header.hidden {
    opacity: 0;
    transform: translateY(-100%);
}

.header-menu-button {
    display: none;
}

.header-navigation-wrap {
    display: flex;
    justify-content: space-between;
}

.header-logo-wrap {
    display: flex;
}

.header-logo-link{
    display: flex;
}

.header-logo-text {
    color: #fafafa;
    align-self: self-start;
}

.header-logo {
    margin-right: 8px;
}

.header-navigation {
    display: inline-flex;
}

.header-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
    float: right;
    padding: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
}

.header-close-button-svg {
    stroke: #fafafa;
    width: 28px;
    height: 28px;
}

.header-navigation-list {
    position: absolute;
    top: 100%;
    left: 46%;
    transform: translateX(-50%);
    width: 115px;
    height: 192px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 250ms linear, opacity 250ms linear, visibility 250ms;
}

.header-navigation-list.active {
    border:none;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

html {
    scroll-behavior: smooth;
}

.header-order-button {
    display: none;
}

@media only screen and (min-width: 768px) {
    .header-logo-wrap {
        margin-right: auto;
    }

        .header-navigation-list{
            left: 42%;
        }

    .header-navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .header-navigation-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        list-style-type: none;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        text-align: center;
        gap: 8px;
    }

    .header-navigation-link {
        display: flex;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 500;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fafafa;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border: 1px solid #FBFBFB66;
        border-radius: 12px;
        min-width: 115px;
        max-height: 42px;
        padding: 12px 24px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-close-button {
        display: none;
    }

    .header-navigation-link:hover,
    .header-navigation-link:focus {
        background-color: #65760D;
    }

    .header-close-button-svg {
        display: none;
    }

    .header-menu-button {
        display: block;
        align-self: flex-start;
        border: none;
        border-bottom: 2px solid #fafafa;

        padding: 0;

        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: transparent;
        color: #fafafa;
    }

    .header-menu-button:hover,
    .header-menu-button:focus {
        transform: scale(1.5);
    }

    .header-order-button {
        display: flex;
        align-self: flex-start;
        margin-left: auto;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.02em;
        text-align: left;
        color: #fafafa;
        background-color: #c6e327;
        min-width: 163px;
        height: 55px;
        padding: 18px 24px;
        border-radius: 60px;
        border: 1px solid transparent;
        /* opacity: 0px; */
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-order-button:hover,
    .header-order-button:focus {
        transform: scale(1.1);
        background-color: #65760D;
    }
}

@media only screen and (min-width: 1440px){
        .header-navigation-list {
                left: 46%;
            }
}