.hero-container {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    padding-bottom: 32px;
}

.hero {
    background-image: url(../img/hero/hero-mobile.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* min-width: 375px; */
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* padding: 0 20px; */
    /* padding-top: 281px; */

}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .hero {
        background-image: url("../img/hero/hero-mobile@2x.webp");
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        background-image: url(../img/hero/hero-tablet.webp);
    }

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .hero {
            background-image: url("../img/hero/hero-tablet@2x.webp");
        }
    }

}

@media only screen and (min-width: 1440px) {
    .hero {
        max-width: 1440px;
        background-image: url(../img/hero/hero.webp);
    }

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .hero {
            background-image: url("../img/hero/hero@2x.webp");
        }
    }
}

.hero-tittle {

    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    width: 100%;
    max-width: 343px;
    margin-top: 281px;
    margin-bottom: 212px;


}

.hero-tittle-part {
    display: block;
}

.hero-links-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-list-links {
    display: flex;
    align-items: center;
    /* min-width: 320px; */
    max-width: 100%;
    justify-content: space-between;
    gap: 4px;



}

.hero-sm-link {
    width: 37px;
    height: 37px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    font-size: 14px;
    letter-spacing: -0.02em;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.hero-email {
    text-align: center;

}

.hero-email-link {
    display: inline-block;
    width: 178px;
    height: 37px;
    line-height: 37px;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;

}

.hero-sm-link:hover,
.hero-sm-link:focus,
.hero-email :hover,
.hero-email :focus {
    color: #C6E327;
    border-color: #C6E327;
    background-color: rgba(198, 227, 39, 0.1);
}

.hero-sm-link,
.hero-email-link {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.hero-sm-link.hovered,
.hero-email-link.hovered {
    transform: translateY(-3px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 768px) {
    .hero {
        min-width: 768px;
    }

    .hero-tittle {
        font-size: 90px;
        max-width: 632px;
        margin-top: 300px;
        margin-bottom: 187px;
        margin-left: 32px;
        margin-right: 104px;
    }

    .hero-links-wrapper {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 8px;
    }

    .hero-list-links {
        width: 473px;
        gap: 8px;
        justify-content: flex-end;
    }

    .hero-sm-link {
        width: 55px;
        height: 55px;
        font-size: 16px;

    }

    .hero-email-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 223px;
        height: 55px;
        font-size: 16px;

    }
}

@media screen and (min-width: 1440px) {
    .hero {
        min-width: 1440px;

    }

    .hero-tittle {
        max-width: 1084px;
        margin-left: 178px;
        margin-bottom: 330px;

    }

    .hero-list-links {
        margin-left: 757px;
    }

}