.reviews-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    }
    
.reviews-container-title{
    height: 57px;
    }
.reviews-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA66;
    }
.reviews-container-card {
    display:flex;
    justify-content:left;
    }
.reviews-container-card.swiper {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    flex: 1;
    overflow: hidden;
    }
.reviews-list {
    display:flex;
    justify-content:left;
    gap: 16.5px;
    }
.reviews-card {
    display: flex;
    flex-direction: column;
    max-width: 330px; 
    min-height: 378px;
    border-radius: 20px;
    border: 1px solid #FAFAFA66;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    }
.reviews-card.swiper-slide{
    width: 326px;
    }
.reviews-card-avatar {
    height: 48px;
    width: 48px;
    border-radius: 10px;
    }
.reviews-card-name {
    margin-top: 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FAFAFA;
    }
.reviews-card-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA99;
    margin-top: 10px;
    }
.reviews-buttons {
    height: 99px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    border: 1px blue;
    }
.reviews-button {
    height: 68px;
    width: 68px;
    border-radius: 60px;
    padding: 18px;
    border: 1px solid  #FAFAFA99;
    background-color: inherit;
    }
.active {
    border: 1px solid #FAFAFA;
    fill: none;
    stroke: #FAFAFA;
    }
.hidden-card {
    display: none;
    }
.reviews-button-icon {
    fill: none;
    stroke: #FAFAFA99;
    }
.reviews-button:disabled {
    opacity: 0.35;
    cursor: not-allowed;
    pointer-events: none;
    }
    @media only screen and (max-width: 1440px){
        .reviews-card {
            max-width: 336px;
            }
        }
    @media only screen and (max-width: 768px){
        .reviews-card {
            max-width: 328px;
            }  
        }  